
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #2b2b40);
    color: #eee;
    padding: 40px 20px;
}

.main {
    max-width: 1000px;
    height: auto;
    margin: auto;
    background: #2e2e3e;
    border-radius: 20px;
    padding: 55px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.articleH1,
.articleH2,
.articleH3 {
    color: #ffd369;
    margin-bottom: 10px;
}

.articleP {
    color: #ddd;
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.8;
}

button {
    background: #ffd369;
    color: #1e1e2f;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(255, 211, 105, 0.4);
    margin-top: 30px;
}

button:hover {
    background: #ffbe33;
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(255, 211, 105, 0.6);
}

#section1, 
#section2 {
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
    font-weight: 300;
}
#section2{
    font-size: 15px;
    letter-spacing: 1px;
}
.hidden {
    display: none;

}

@media (max-width: 600px) {
    .main {
        padding: 20px;
    }

    button {
        width: 100%;
        padding: 14px;
        font-size: 15px;
    }
}